/* 
red #a6446
white #fbfef9
blue #0c6291
black #261c15
*/

:root {
  --red: #a63446;
  --white: #fbfef9;
  --blue: #0c6291;
  --black: #261c15;
  --background: #eeeeee;
}

/* border box makes it so margin and padding arent added
to the total width and height of the element
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* We put font here cause it is usually inherited  
  body is the parent of a lot of elemnts
*/
/* the first in font-family is the font we want 
the second is for when the browser doesnt have it
*/
body {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background-color: var(--background);
}
