// must be divisible by 8 for even board
$size: 480px;
.board {
  width: $size;
  height: $size;
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(8, calc(#{$size} / 8));
  grid-template-rows: repeat(8, calc(#{$size} / 8));
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40;
}
